@font-face {
  font-family: RobotoCondenced;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

body {
  padding: 2.5%;
  text-align: center;
  font-size: 20px;
  font-family: 'RobotoCondenced';
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

@keyframes fade-out {
  from { opacity: 100; }
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 100; }
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}
