@font-face {
  font-family: RobotoCondenced;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

body {
  padding: 2.5%;
  text-align: center;
  font-size: 20px;
  font-family: 'RobotoCondenced';
}

/* */

.input {
  border: 1px gray solid;
  border-radius: 5px;  
  padding: 5px;
  width: 60%;
}

.button {
  border: 0px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 80px;
  margin: 10px;
}

/* */

.artist-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /*margin: 20px 10px 0px 10px;*/
}

.artist-picture {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.artist-tracks {
  /*
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  */
}

.artist-track {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-flex;
  margin: 20px;
  cursor: pointer;
}

.track-album {
  width: 250px;
  height: 250px;
  border-radius: 10px
}

.track-text {
  background-color: black;
  padding: 5px;
  color: white;
  position: absolute;
  width: 250px;
  bottom: 0px;
  border-radius: 0px 0px 10px 10px;
}

.track-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 100px;
  left: 100px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  background-color: black;
  opacity: 0.8;
}